.quem-somos{
    text-align: justify;
}

.quem-somos-img{
    background-image: url(../img/carousel-1.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

body{
    background-color: rgb(255, 255, 255);
}